/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require css/bootstrap.min
 *= require_self
 *= require_tree .
 */


body{
	background-image: url("/assets/Vertical_reddish_wood_with_nailheads.jpg");

   	/*background-image: url("/assets/wood_00326565.jpg");*/

 }
#slide-div-d3
{
	width: 0px;
}

#colright-d3
{
	width: 30em;

  height: 32px;
/*  position: absolute;
  bottom: 0px;*/
}
#stats-view div{
	width: 0px;
}
#stats-view{
	width: 30em;
}
.caption_text{
	font-family: 'Permanent Marker', cursive;
}

.centered
{
    text-align:center;
}
h2
{
	font-size: 1.5em;
	font-family: 'Permanent Marker', cursive;
}

 .selfie-image
 {
 	width: 20em;
 	height: 20.83em;
 }
 .caption
 {
 	margin-top: -1.5em;
 	max-height: 8em;
 }
 .selfie
 {
 	width: 23.33em;
 	height: 28.33em;
 	 padding: 14px 10px 50px 10px;
     background: #eee;
     border: 1px solid #fff;
     box-shadow: 0px 2px 15px #333;
     -moz-box-shadow: 0px 2px 15px #333;
     -webkit-box-shadow: 0px 2px 15px #333;
     position: absolute;
     margin:25px 0 0 15px;
 }

#selfie-form{
	padding-top: 571px;
	margin: 0 auto;
}

#add-caption input, label{
  margin-left: 10px;
  width: 327px;
  float: left;
}

#caption-val {
  text-align: center;
  font-size: 1.5em;
  width: 296px;
  margin: 244px auto;
  font-family: 'Permanent Marker'
}

#add-caption input{
   height: 60px;
}

#add-caption{
  text-align: center;
  margin-right: 17px;
  bottom: -210px;
  position: absolute;
  z-index: 10;
  font-size: 1.5em;
}

#selfie-submit{
  position: absolute;
  left: 458px;
  top: 180px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  z-index: 10;
  width: 223px;
  border-radius: 22px;
  font-weight: bold;
  text-shadow: 1px -3px #3b2e1b;
  box-shadow: 2px -10px 9px #3b2e1b inset;
  outline: none;
  background-color: #5a4023;
  height: 44px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-color: #5a4023;
}


#selfie-list {
 	height: 100%;
 	width: 90%;
 }

#slideout {
  position: fixed;
  top: 100px;
  left: 0;
  z-index: 1000;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#slideout_inner {
				padding: 10px 25px;
				background-color: #D9E8F5    ;
				width: 465px;
  position: fixed;
  top: -10px;
  left: -613px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

#slideout:hover {
  left:465px;
}
#slideout:hover #slideout_inner {
  left: 0;
}
h4#tab{
box-shadow: -4px 7px 10px #3b2e1b;
border-bottom-left-radius: 2em;
border-bottom-right-radius: 2em;
position: absolute;
background-color: #d3d1bc;
width: 101px;
height: 43px;
left: 584px;
top: 29px;
padding: 1px 6px;
color: #333333;
font-family: 'permanent marker';
font-size: 20px;
text-transform: uppercase;
letter-spacing: 1px;
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
transform: rotate(-90deg);
-webkit-transform-origin: 50% 50%;
-moz-transform-origin: 50% 50%;
-ms-transform-origin: 50% 50%;
-o-transform-origin: 50% 50%;
transform-origin: 50% 50%;
}

#heading{
	font-family: 'Cinzel Decorative', cursive;
	font-weight: 900;
	margin: 10px 0px;
	font-size: 8em;
/*	white-space: nowrap;*/
  color: transparent;
  text-shadow: 0px 0px 2px rgba(0,0,0,0.9);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

/****************************************/


body,html{
  height: 100%;
}

h1,h2,h3, h2 a, h3 a{
  font-family: 'Abel', sans-serif;
  color: #000;
  text-decoration: none;
}


em{
  font-style: italic;
}

h1 a{
  color: #aaa;
  font-size: 14px;
  position: absolute;
  left: 143px;
  top: 95px;
  text-decoration: none;
}
h2, h2 a{
  margin: 20px 0 5px;
  font-size: 20px;
}

h3, h3 a{
  margin: 5px 0 2px;
  font-size: 16px;
}

#nav{
  position: fixed;
  left: 50%;
  margin-left: -450px;
  width: 170px;
}
#nav a{
  font-size: 14px;
  text-decoration: none;
  -webkit-transition: color 500ms ease;
  -moz-transition: color 500ms ease;
  -o-transition: color 500ms ease;
  transition: color 500ms ease;
  -msie-transition: color 500ms ease;
}
#nav a.selected,
#nav a:hover{
  color: #0da4d3;
}

#nav li{
  margin: 6px 0;
  text-align: right;
}
#nav li li{
  margin: 3px 0;
}
#nav li li a{
  font-size: 12px;
  color: #888;
}

#gallery{
  position: absolute;
  top: 330px;
  width: 80%;
  background: #f6f6f6;
  z-index: 4;
}

.downloadButton{
  box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  border:1px solid #08536a;
  display: block;
  border-radius: 2px;
  padding: 10px;background: #0da4d3; /* Old browsers */
  background: #0c89b0; /* Old browsers */


}
.downloadButton:hover{
  opacity: 0.7;
}
.downloadButton strong{
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0px -1px 0px rgba(000,000,000,0.2), 0px 1px 0px rgba(255,255,255,1);
}
.downloadButton small{
  font-size: 10px;
  color:#fff;
}
/*****************
* Browser Support Table
*****************/
.browserSupport{
  width: 100%;
  margin: 6px 0 10px;
}
.browserSupport td{
  margin: 2px;
  padding: 2px;
  background: #f6f6f6;
  text-align: center;
  font-weight: bold;
}
.browserSupport td.full{
  background: #adf0b5;
}
.browserSupport td.partial{
  background: #f0efad;
}
.browserSupport td.none{
  background: #f0adad;
}
/*****************
* API DOCS
*****************/

.docEntry{
  position: relative;
  padding-left: 20px;
  margin: 10px 0 20px;
}

.docEntry label a{
  display: block;
  padding: 5px 0;
  font: 14px monospace;
  color: #000;
  font-weight: bold;
}
.docEntry label a:target{
  background: #0da4d3;
  color: #fff;
}
.gradient{
  width: 4px;
  height: 100%;
  background: #0da4d3; /* Old browsers */
  background: -moz-linear-gradient(top,  #0da4d3 0%, #0d5cd3 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0da4d3), color-stop(100%,#0d5cd3)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #0da4d3 0%,#0d5cd3 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #0da4d3 0%,#0d5cd3 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #0da4d3 0%,#0d5cd3 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #0da4d3 0%,#0d5cd3 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0da4d3', endColorstr='#0d5cd3',GradientType=0 ); /* IE6-9 */
  position: absolute;
  left: 0;
}
/***************
* Tabs
**************/
.tab_container{
  overflow: hidden;
}
.tab_container .tabs{
  height: 24px;
  display: block;
  margin-top: 5px;
  border-bottom: 1px solid #ccc;
}

.tab_container .tabs li{
  padding: 5px;
  height: 12px;
  float: left;
  background: #fff;
  margin-right: 4px;
  border: 1px solid #ccc;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
  position: relative;
  top: 1px;
  background: #fff;
  z-index: 1;
}
.tab_container .tabs li:hover{
  color: #000;
  background: #f6f6f6;
}
.tab_container .tabs li.selected{
  border-bottom-color: #fff;

  background: #f6f6f6;
  color: #000;
}

.tab_container .tab_content{
  clear:both;
  background: #f6f6f6;
  display: none;
}

.tab_container .tab_content.selected{
  display: block;
}

/*************************
* Code
*************************/
code{
  display: block;
}
code, code *{
  white-space: pre;
  font-family: monospace;
}
code .keyword              { font-weight: bold }
code .string, code .regexp { color: green }
code .class, code .special { color: blue }
code .number               { color: brown }
code .comment              { color: grey }
