/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require css/bootstrap.min
 *= require_self
 *= require_tree .
 */


body{
  height: 100%;
  background-image: url("/assets/shelfie_background.jpg");
 	/*background-image: url("/assets/wood_00326565.jpg");*/
}
#header-box {
  width: 723px;
  float: right;
  margin-top: 20px;
}

/*#heading {
  line-height: 0.7em;
}
#heading, #subtitle {
  font-family: 'Cinzel Decorative', cursive;
  font-weight: 900;
  font-size: 8em;
  color: transparent;
  text-shadow: 0px 0px 2px rgba(0,0,0,0.9);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

#subtitle {
  font-size: 2.7em;
  margin-left: 80px
}*/
#envelope {
  position: absolute;
  z-index: -1;
  right: 35px;
  box-shadow: 2px 3px 3px #3b2e1b;
  -moz-box-shadow: 2px 3px 15px #3b2e1b;
  -webkit-box-shadow: 2px 3px 15px #3b2e1b;
}

#latte-logo {
  right: 560px;
  position: absolute;
  width: 253px;
  margin-top: 35px;
}

#sharpie {
  width: 42px;
  float: right;
  margin: 268px -109px 0 0;
}

#slide-div-d3 {
  width: 0px;
}

#stats-view div {
  width: 0px;
}

#stats-view {
  width: 30em;
}

.caption_text {
  text-align: center;
  font-size: 1.5em;
  width: 296px;
  margin: 12px auto;
  font-family: 'Permanent Marker', cursive;
}

.selfie-image {
	width: 20em;
	height: 20.83em;
}

.caption {
	max-height: 8em;
}

.selfie {
	width: 23.33em;
	height: 28.33em;
	 padding: 17px 10px 50px 21px;
   background: #eee;
   border: 1px solid #fff;
   box-shadow: 0px 2px 15px #333;
   -moz-box-shadow: 0px 2px 15px #333;
   -webkit-box-shadow: 0px 2px 15px #333;
   position: absolute;
   margin:25px 0 0 15px;
}

#selfie-form {
	padding-top: 571px;
	margin: 0 auto;
}

#add-caption input, label{
  margin-left: 10px;
  width: 327px;
  float: left;
}

#add-caption input{
   height: 60px;
   font-size: 1.5em;
   text-align: center;
}

#add-caption {
  margin-left: 117px;
  bottom: -210px;
  position: absolute;
  z-index: 10;
}

#selfie-submit{
  position: absolute;
  left: 458px;
  top: 180px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  z-index: 10;
  width: 223px;
  border-radius: 22px;
  font-weight: bold;
  text-shadow: 1px -3px #3b2e1b;
  box-shadow: 2px -10px 9px #3b2e1b inset;
  outline: none;
  background-color: #5a4023;
  height: 44px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-color: #5a4023;
}

#selfie-list {
 	height: 100%;
 	width: 90%;
}

#slideout {
  position: fixed;
  top: 100px;
  left: 0;
  z-index: 1000;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

#slideout_inner {
				padding: 10px 25px;
				background-color: #D9E8F5    ;
				width: 465px;
  position: fixed;
  top: -10px;
  left: -613px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

/*#slideout:hover {
  left:405px;
}*/

#slideout:hover #slideout_inner {
  left: -60px;
}

h4#tab {
box-shadow: -4px 7px 10px #3b2e1b;
border-bottom-left-radius: 2em;
border-bottom-right-radius: 2em;
position: absolute;
background-color: #d3d1bc;
width: 101px;
height: 43px;
left: 584px;
top: 29px;
padding: 1px 6px;
color: #333333;
font-family: 'permanent marker';
font-size: 20px;
text-transform: uppercase;
letter-spacing: 1px;
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
transform: rotate(-90deg);
-webkit-transform-origin: 50% 50%;
-moz-transform-origin: 50% 50%;
-ms-transform-origin: 50% 50%;
-o-transform-origin: 50% 50%;
transform-origin: 50% 50%;
}

/****************************************/

h1,h2,h3, h2 a, h3 a {
  font-family: 'Abel', sans-serif;
  color: #000;
  text-decoration: none;
}

em {
  font-style: italic;
}

h1 a {
  color: #aaa;
  font-size: 14px;
  position: absolute;
  left: 143px;
  top: 95px;
  text-decoration: none;
}

h2, h2 a {
  margin: 20px 0 5px;
  font-size: 20px;
}

h3, h3 a {
  margin: 5px 0 2px;
  font-size: 16px;
}

#nav {
  position: fixed;
  left: 50%;
  margin-left: -450px;
  width: 170px;
}
#nav a {
  font-size: 14px;
  text-decoration: none;
  -webkit-transition: color 500ms ease;
  -moz-transition: color 500ms ease;
  -o-transition: color 500ms ease;
  transition: color 500ms ease;
  -msie-transition: color 500ms ease;
}

#nav a.selected,
#nav a:hover {
  color: #0da4d3;
}

#nav li {
  margin: 6px 0;
  text-align: right;
}

#nav li li {
  margin: 3px 0;
}

#nav li li a {
  font-size: 12px;
  color: #888;
}

#gallery {
  position: absolute;
  top: 330px;
  width: 80%;
  background: #f6f6f6;
  z-index: 4;
}

/***************
* Tabs
**************/
.tab_container{
  overflow: hidden;
}
.tab_container .tabs{
  height: 24px;
  display: block;
  margin-top: 5px;
  border-bottom: 1px solid #ccc;
}

.tab_container .tabs li{
  padding: 5px;
  height: 12px;
  float: left;
  background: #fff;
  margin-right: 4px;
  border: 1px solid #ccc;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
  position: relative;
  top: 1px;
  background: #fff;
  z-index: 1;
}
.tab_container .tabs li:hover{
  color: #000;
  background: #f6f6f6;
}
.tab_container .tabs li.selected{
  border-bottom-color: #fff;

  background: #f6f6f6;
  color: #000;
}

.tab_container .tab_content{
  clear:both;
  background: #f6f6f6;
  display: none;
}

.tab_container .tab_content.selected{
  display: block;
}
